<nav class=" w-full p-8 bg-gray-800">
  <div class=" mx-auto px-4">
    <div class="flex text-violet-400 justify-between items-center h-16">

      
      <a href="{{path('home')}}" class="text-3xl font-bold">Cassandra Inc.</a>

      
      <div class="hidden text-xl font-bold md:flex gap-8 space-x-6">
        <a href="{{path('home')}}" class="hover:text-gray-100" >Home</a>
      </div>
</nav>