<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cassandra Inc.{% endblock %}</title>
          <link rel="icon" href="{{ asset('img/favicon.ico') }}">
          <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
          
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
    <body>
    
{% include 'partials/sidebar.html.twig' %}

        <main class="bg-gray-800 min-h-screen ml-64 text-gray-100">{% block body %}
        
        {% endblock %}</main>



    </body>
</html>
